.navigation button {
  background-color: rgb(45, 45, 94);
  color: azure;
  font-size: 32px;
  cursor: pointer;
}
.navigation button:hover {
  background-color: blueviolet;
}
.navigation {
  display: flex;
  justify-content: space-around;
  background-color: rgb(93, 94, 93);
  align-items: center;
  height: 100px;
}
