body {
  background: rgb(19, 78, 42);
}

.alex h1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
}

.alex img {
  width: 400px;
}
.alex img:hover {
  width: 500px;
  cursor: zoom-in;
}
