body {
  background-color: rgb(4, 7, 7);
}
.kaci {
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 34px ;
}

.demeimage {
  width: 400px;
}
.demeimage:hover {
  width: 500px;
  cursor: zoom-in;
}
